// SECCIÓN COMPLETA DE PÁGINA Y TÍTULO PRINCIPAL

.shopping-cart{
    display: flex;
    justify-content: end;
    min-height: 82vh;
    padding: 0 5%;
    width: 90%;
}

.page-title{

    margin: 2rem 0 5rem 0;
    text-align: center;

}
