
/*LAYOUT*/
.column  {


    background-color: red;
    
}
.contact-body {
    display: flex;
    justify-content: space-between;
    padding:  0 3%;
    width: 100%;



        
}


/*TABLA DATOS*/

.card {  

    background-color: white;
    border: 0.25rem solid;
    width: 100%;

    .card-table {

        width: 100%;

    

            
    }
    
}
