// DIV SLIDER PARA UBICAR IMAGEN, TITULO Y BOTÓN

.slider{
    display: flex;
    position: relative;
    margin-bottom: 1.5rem;

    // IMAGEN DE FONDO SLIDER

    .slider-image{
        width: 100%;
    }
    
    // TÍTULO SLIDER

    .slider-title{
        background-color: $slider-title-background-color;        top: 7vh;
        left: 3rem;
        position: absolute;
        width: 40%;
    }

    // BOTÓN SLIDER

    .slider-button{
        left: 3rem;
        position: absolute;
        top: 18.5vh;    
        width: max-content;
    }
    
}



