
//TABLA RESUMEN IMPORTE DE LA COMPRA PÁGINA CARRITO DE COMPRA

.shopping-cart-checkout-summary{

    display: flex;
    justify-content: end;
    margin: 2rem 0;

    .shopping-cart-checkout-summary .checkout-summary{

        width: 35%;
        
    }
    

} 

