////SECCIÓN IMÁGENES MINIATURA DE LA GALERÍA


.slider-gallery-miniatures{

    height: 25%;
    margin-top: 2rem;
    padding: 0% 10%;

}

.slider-gallery-miniatures-item{

    border-style: solid;
    border-width: 0.5rem;
    margin-top: 2rem;
    
}
