// SECCIÓN DONDE MOSTRAMOS EL TEXTO DE NUMERO DE PRODUCTOS MOSTRADOS DESPUÉS DE FILTRAR LOS PRODUCTOS EN DROP DOWN MENU POR CATEGORIAS

.products-results{

    margin-bottom: 2rem;

    .products-results-drop-down{

        display: flex;
        justify-content: end;
    
    }
    

}

