//SECCIÓN IMAGEN PRINCIPAL DE LA GALERÍA

.slider-gallery-image-big{
    
    height: 75%;
    padding: 0% 5%;

    .slider-gallery-image-big img{
    
        border: 0.5rem solid;
    
    }
    
}

