// SECCIÓN DONDE SELECCIONAMOS LOS DIFERENTES MÉTODOS DE PAGO MEDIANTE LISTA TIPO RADIO

.checkout-form-payment-methods{

    margin: 2rem 0;

    .checkout-form-payment-methods p{
   
        margin: 0rem 0rem 1rem 0rem;
    
    }
    
    .checkout-form-payment-methods label{
    
        margin-left:2rem;
       
    }
 
    
   }
   
   
   