
.notification_message {

    .valid {
        background-color: green;
        border: 0.25rem solid;
        bottom: -7rem;
        display: flex;
        font-weight: 600;
        height: fit-content;
        justify-content: center;
        padding: 1rem 0rem;
        position: absolute;
        width:45%
    }

    .invalid {
        
        background-color: rgb(253, 16, 16);
        border: 0.25rem solid;
        bottom: -7rem;
        display: flex;
        font-weight: 600;
        height: fit-content;
        justify-content: center;
        padding: 1rem 0rem;
        position: absolute;
        width:45%
        
     }
    
}