body{
    
    background-color: $header-menu-ul_li-color;
    box-sizing: border-box;
    font-size: 20px;
}

main{

    margin: 1rem 0;
    height: 80%;
    width: 100%;

}

.desktop-only{

    display: revert;

}

.mobile-only{

    display: none;

}